PORT=8080
DB_URL=your_mongodb_connection_string
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=1d

# MailTrap API credentials
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=587
MAILTRAP_SMTP_USER=your_mailtrap_smtp_user
MAILTRAP_SMTP_PASS=your_mailtrap_smtp_pass

# Cloudinary API credentials
CLOUNDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUNDINARY_API_KEY=your_cloudinary_api_key
CLOUNDINARY_API_SECRET=your_cloudinary_api_secret